.footer {
  background: #082f43;
  color: #ffffff;
  padding: 45px 80px;
}

.footer-container {
  max-width: 1600px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */

.footer-brand h2 {
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-brand p {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: #d8e7ef;
}

/* RIGHT SIDE */

.footer-bottom {
  font-size: 14px;
  color: #9fc7dc;
  white-space: nowrap;
}
.footer-brand-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.footer-brand-title h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.footer-brand p {
  margin-top: 10px;
}
/* MOBILE */

@media (max-width: 768px) {
  .footer {
    padding: 35px 25px;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  .footer-bottom {
    white-space: normal;
  }

}